<ion-header>
  <ion-toolbar>
    <ion-title>
      Leaflet 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" style="width: 100%; height: 100%">
  </div>
</ion-content>
