<ion-header>
  <ion-toolbar>
    <ion-title>
      Restaurantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId3" style="width: 100%; height: 100%"></div>
</ion-content>
