<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h4>id del negocio: {{id}}</h4>
</ion-content>
